In [1]:
s="harsh"
a=2
b=2.4
t={"harsh",2,2.4,"fds"}

In [2]:
print(s)
print(a)
print(b)
print(t)

harsh
2
2.4
{2, 2.4, 'harsh', 'fds'}

In [5]:
var1 = ' '
var2 = '[ DS , ML , Python]'
var3 = [ 'DS' , 'ML' , 'Python' ]
var4 = 1.
print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'float'>

In [6]:
3/2

1.5

In [7]:
3%2

1

In [8]:
5//2

2

In [9]:
3**2

9

In [10]:
l=[1,2,3.4,5.6,"harsh","arora",True,False,32.1,55]
for i in l:
    print(i)
    print(type(i))

1
<class 'int'>
2
<class 'int'>
3.4
<class 'float'>
5.6
<class 'float'>
harsh
<class 'str'>
arora
<class 'str'>
True
<class 'bool'>
False
<class 'bool'>
32.1
<class 'float'>
55
<class 'int'>

In [15]:
print('Enter the first number')
a=int(input())
print('Enter the second number')
b=int(input())
ct=0
while a%b==0:
    a/=b
    ct+=1
if a==1:
    print("a is completely divisble by b")
    print(ct)
    print("times")
else:
    print("a is not completely divisble by b ")

Enter the first number

 16

Enter the second number

 4

a is completely divisble by b
2
times

In [20]:
l=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in l:
    if i%3==0:
        print(str(i)+" is divisible by 3")
    else:
        print(str(i)+" is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

In [23]:
#Mutable objects are the objects in which we can change the individual element present at any index while eg list
#Immutable objects are the objects in which we cannot change the individual element present at any index eg string
s="harsh"
s[2]='a'

TypeError: 'str' object does not support item assignment

In [24]:
l=['a','b','c','d']
l[2]='a'
print(l)

['a', 'b', 'a', 'd']